@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
}

#hide {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(235, 18%, 26%);
}
@media (max-width: 650px) {
  body {
    height: fit-content;
    display: block;
    background: #fff;
  }
}

.container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  background: hsl(0, 0%, 100%);
  border-radius: 2.5rem;
  padding: 1.5rem 0 1.5rem 1.5rem;
  overflow: hidden;
}
@media (max-width: 750px) {
  .container {
    padding: 0.5rem;
  }
}
@media (max-width: 650px) {
  .container {
    width: 100%;
    height: fit-content;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.img_section {
  height: 45rem;
  width: 50%;
  background: hsl(0, 0%, 100%);
  transform: translate(1.4rem, 0px);
  overflow: hidden;
}
.img_section svg {
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}
@media (max-width: 750px) {
  .img_section svg {
    padding-right: 2rem;
  }
}
@media (max-width: 650px) {
  .img_section svg {
    padding: 0;
    width: 100%;
    height: fit-content;
    transform: translateY(-10rem);
    max-height: 50rem;
  }
}
@media (max-width: 460px) {
  .img_section svg {
    transform: none;
  }
}
@media (max-width: 650px) {
  .img_section {
    width: 100%;
    height: 30rem;
    transform: none;
  }
}

.main_section {
  height: 45rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 0 3rem;
  color: hsl(234, 29%, 20%);
}
.main_section-header {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  font-size: 4.5rem;
}
.main_section-header-2 {
  margin: 1.5rem 0;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
}
@media (max-width: 650px) {
  .main_section-header-2 {
    margin-top: 2rem;
    align-items: center;
    padding: 0;
    width: 90%;
  }
}
@media (max-width: 650px) {
  .main_section {
    margin-top: 2rem;
    align-items: center;
    padding: 0;
    width: 90%;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list_item {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  font-size: 1.3rem;
}
.list_icon {
  scale: 0.75;
  transform: translateY(2px);
}
@media (max-width: 650px) {
  .list {
    width: 90%;
  }
}

.input_field {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}
.input_field-textBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: red;
}
.input_field-title {
  color: hsl(234, 29%, 20%);
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.input_field-email {
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
  border: 1px solid hsl(240, 5%, 80%);
  border-radius: 5px;
  cursor: pointer;
}
.input_field-email:focus {
  border-color: black;
}
.input_field-btn, .input_field-btn:link, .input_field-btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 4rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(234, 29%, 20%);
  font-weight: 500;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s all;
}
.input_field-btn:hover, .input_field-btn:link:hover, .input_field-btn:visited:hover {
  background-image: linear-gradient(to right, rgb(253, 85, 119), hsl(4, 100%, 67%));
  box-shadow: 0 1rem 1rem 0rem hsla(4, 100%, 67%, 0.5);
}

.error {
  background: rgb(255, 232, 230);
  border-color: red;
  display: block;
}
.error::placeholder {
  color: red;
}

.hide {
  display: none;
}